{{data.name}}
<button ng-click="add(data)" ng-hide="editorEnabled" id="add_{{data.name}}">Add node</button>
<button ng-hide="editorEnabled" ng-click="editorEnabled=!editorEnabled">Edit node</button>
<button ng-click="delete(data)" id="delete_{{data.name}}" ng-show="data.nodes.length > 0">Delete nodes</button>
<div ng-show="editorEnabled">
	<input ng-model="data.name">
	<button ng-click="editorEnabled=!editorEnabled">Done editing?</button>
</div>
<ul class="items">
    <li ng-repeat="data in data.nodes" ng-include="'/modules/RecursiveObjectsTree/RecursiveObjectsTreeItem.html'"></li>
</ul>