<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Objects tree</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/modules/RecursiveObjectsTree/RecursiveObjectsTree.js"></script>
	<script src="/modules/RecursiveObjectsTree/RecursiveObjectsTreeController.js"></script>
	<script src="/modules/RecursiveObjectsTree/RecursiveObjectsTreeDirective.js"></script>
</head>
<body>
	<div class="approach" ng-app="RecursiveObjectsTree" ng-controller="RecursiveObjectsTreeController">
		<h1>Recursive aproach</h1>
		<button ng-click="saveToLocalstorage()">Save to localstorage</button>
		<recursive-objects-tree-directive/>
	</div>
</body>
</html>